*{
  margin: 0px;
  padding: 0px;
  font-family: Futura, sans-serif;
}

#top-bar{
  height: auto;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar-elem{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.top-bar-elem > a > i{
  font-size: 2.5em;
}

a{
  color: inherit;
  text-decoration: none;
}

#main-div{
  padding: 5px;
  margin-top: 5px;
}

#main-div > h1{
  margin: 10px 0px 10px 0px;
  font-size: 3em;
  text-align: center;
}

#options{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#options > a{
  width: 40%;
  padding: 12px;
}

/* .option{
  width: 100%;
} */

.option > img{
  width: 100%;
  border-style: solid;
  border-radius: 10%;
  border-width: medium;
  border-color: black;
}

.option > p{
  text-align: center;
  font-weight: bold;
}
