*{
  margin: 0px;
  padding: 0px;
  font-family: Futura, sans-serif;
}

#top-bar{
  height: auto;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar-elem{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.top-bar-elem > a > i{
  font-size: 2.5em;
}

a{
  color: inherit;
  text-decoration: none;
}

#main-div{
  margin-top: 10px;
}

#main-div > h1{
  padding-top: 10px;
  margin: 10px 0px 10px 0px;
}

#main-div > h1{
  font-size: 3em;
  text-align: center;
}

#alert{
  color: orange;
}

#time{
  text-align: center;
}

#rating{
  padding-top: 10px;
  padding-bottom: 15px;
}

.checked {
  color: orange;
}

#thumbnail{
  width: 100vw;
}

#extradata{
  height: auto;
  display: flex;
  background-color: lightgray;
  justify-content: space-between;
  padding: 15px;
}

#comment{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-color: black;
}

#comment > img{
  width: 9vh;
  border-radius: 50%;
}

#comment > #content{
  padding: 5px;
  margin-left: 5px;
}

#readmore{
  width: 100vw;
  font-size: 0.7em;
}
