*{
  margin: 0px;
  padding: 0px;
  font-family: Futura, sans-serif;
}

#top-bar{
  height: auto;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar-elem{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

a{
  color: inherit;
  text-decoration: none;
}

body > h1{
  font-size: 3.5em;
  text-align: center;
  margin-top: 10px;
}
h2{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.about-elem{
  padding: 11px 15px;
}

#team{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.member{
  width: 48%;
  padding: 2px;
  display: flex;
  margin-bottom: 10px;
}

.r{
  flex-direction: row;
}

.l{
  flex-direction: row-reverse;
}

.l > .right{
  text-align: right;
}

.member > .left > img{
  width: 13vw;
  margin: 0px 3px 0px 3px;
  border-radius: 50%;
}

.member > .right > h5{
  font-size: 0.7em;
}

.member > .right > p{
  font-size: 0.61em;
}
